@media screen and (min-width: 992px){
    .navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-expand-lg{
        width: 25%;
        height: 100vh;
        align-items: flex-start;
    }

    .navbar-brand{
        margin-left: .5rem;
        font-size: 1.5em;
        font-weight: bold;
        
    }
}

/* @media screen and (min-width:80px) {
    .card{
        /* background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 9%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 9%, rgba(255,255,255,1) 100%);
background: linear-gradient(90deg, rgba(255,255,255,0) 9%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    } */
    
/*  */

.card-wrapper{
    display: flex;
}